// Reservado para a logo
h1 {
  
}

h2 {
//font: 700 21px Lato;
//  margin: 0;
}

// Variants
.-dashed {
  display: inline-block;
  border-bottom: 1px solid #beab46;
  padding-bottom: 20px;
}

.-upper {
  text-transform: uppercase;
  letter-spacing: 3px;
}