@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond';

@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//pages
@import "pages/styleguide";
@import "pages/login";
@import "pages/app";

//mixins
@import "mixins/heading";
@import "mixins/navbar";
@import "mixins/table";

html,
body {
  height: 100%;
}

.main-content {
  border-top: 5px solid #beab46;
  min-height: 100%;
  margin-bottom: -66px;
  padding-bottom: 66px;
}

footer {
  background-color: #4f451b;
  color: #87750f;
  min-height: 66px;
  padding: 10px;
  p {
    margin: 0;
  }
}