
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond';
.login.main-content {
  display: table;
  width: 100%;
}
.login .login-content {
  display: table-cell;
  vertical-align: middle;
}
.login .login-form {
  max-width: 230px;
  margin: auto;
}
.login .logo {
  display: block;
  margin-bottom: 50px;
}
.login .btn-entrar {
  margin-top: 40px;
}
html,
body {
  height: 100%;
}
.main-content {
  border-top: 5px solid #beab46;
  min-height: 100%;
  margin-bottom: -66px;
  padding-bottom: 66px;
}
footer {
  background-color: #4f451b;
  color: #87750f;
  min-height: 66px;
  padding: 12px 0;
}
footer p {
  margin: 0px;
}
