.placeholder-color(@color){
	&::-webkit-input-placeholder {
    	color: @color;
	}
	&:-moz-placeholder {
	    color: @color;
	}
	&::-moz-placeholder {
	    color: @color;
	}
	&:-ms-input-placeholder {
	    color: @color;
	}
}
.rotate(@rotate: 90deg){
	-webkit-transform: rotate(@rotate);
	-moz-transform: rotate(@rotate);
	-ms-transform: rotate(@rotate);
	-o-transform: rotate(@rotate);
}
.rounded-corners (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}
.animation (@seconds: 3s){
	-webkit-transition: all @seconds linear;
	-moz-transition: all @seconds linear;
	-ms-transition: all @seconds linear;
	-o-transition: all @seconds linear;
	transition: all @seconds linear;
}
.vertical-align-text-center(){
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	display:box;
	box-pack:center;
	box-align:center;
}
.vertical-align(){
	display:-ms-flexbox;
	-ms-flex-align:center;

	display:-moz-box;
	-moz-box-align:center;

	display:-webkit-box;
	-webkit-box-align:center;

	display:box;
	box-align:center;
}
.box-sizing(){
	-moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.font-a(){
	font-family: 'Droid Sans', serif;
}
.font-b(){
	font-family: 'Great Vibes', cursive;
}
.font-c(){
	font-family: 'Droid Serif', serif;
}
.no-gutter {
	margin-right: 0;
	margin-left: 0;
}
.no-gutter > [class^="col-"],
.no-gutter > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}
.no-left{
	padding-left: 0;
}
.no-right{
	padding-right: 0;
}
.no-padding{
	padding-left: 0;
	padding-right: 0;
}
body{
	.box-sizing();
	font-family: 'Droid Serif', serif;
	overflow-x: hidden;
	background: url(../images/bg.png) 0 -100px no-repeat;
	background-size: cover;
	background-position: fixed;
	*{
		outline: 0 none !important;
	}
	a{
		color: inherit;
		&:hover,&:focus{
			text-decoration: none;
			color: #aea8a4;
		}
	}
	p{
		color: #655d59;
		font-size: 16px;
		line-height: 24px;
	}
	.img-responsive-center	{
	    margin: 0 auto !important;
		display: block !important;		
		max-width: 100%;
	}
	.no-left{
		padding-left: 0;
	}	
	.no-right{
		padding-right: 0;
	}
	.no-padding{
		padding: 0;
	}
	button{
		position: relative;
		border: none;
		width: 245px;
		height: 50px;
		background-color: #de4e3a;
		color: #fffdf9;
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 25px;
		z-index: 1;
		-webkit-transition: background-color 0.3s, color 0.3s;
		transition: background-color 0.3s, color 0.3s;
		max-width: 100%;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 2px solid #de4e3a;
			z-index: -1;
			border-radius: inherit;
			opacity: 0;
			-webkit-transform: scale3d(0.6, 0.6, 1);
			transform: scale3d(0.6, 0.6, 1);
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}
		
		&:hover {
			background-color: #fff;
			color: #de4e3a;
			.fa{
				color: #de4e3a !important;
			}
		}
		
		&:hover::before {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
	
	h2.title{
		.font-b();
		color: #e41319;
		font-size: 46px;
		text-align: center;
		padding: 0;
		margin: 0;
		&:after{
			content: '';
			width: 40px;
			height: 11px;
			display: block;
			margin: 0 auto;
			margin-top: 15px;
			margin-bottom: 40px;
			background: url(../../after-title.png) no-repeat center;
		}
	}
}
nav{
	background-color: #ffffff;
	border-top: 4px solid #d1090e;
	border-bottom: 1px solid #d1090e;
	height: 85px;
	position: relative;
	padding-top: 5px;
	.logo{
		position: relative;
	}
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		margin-top: 30px;
		li{
			display: inline-block;
			vertical-align: middle;
			padding-right: 22px;
			line-height: 40px;
			a{
				color: #e3111b;
				font-size: 14px;
				font-weight: bold;
				.animation(0.2s);
				&:focus{
					color: #e3111b;
					text-decoration: none;
				}
			}
			&.active,&:hover,&:visited,&:active{
				a{
					color: #cb945b;
				}
			}
		}
	}
	.navbar-toggle{
		width: 30px;
		padding: 0;
		margin-right: 0;
		float: right;
		.icon-bar{
			background: #e3111b;
		}
		&:hover{
			background: inherit;
			color: inherit;
		}
		&:after,&:before{
			display: none;
		}
	}
}
section{
	&.home{
		padding-top: 110px;
		padding-bottom: 110px;
		.item{
			position: relative;
			min-height: 280px;
			padding-left: 40px;
			margin-bottom: 10px;
			width: 100%;
			.vertical-align();
			.info{
				position: relative;
				z-index: 1;
			}
			h2{
				font-size: 70px;
				color: #ffffff;
				padding: 0;
				margin: 0;
				line-height: 56px;
				font-weight: lighter;
				display: block;
				.font-b();
			}
			a{
				display: block;
			}
			small{
				color: #ffffff;
				font-size: 14px;
				margin-top: 50px;
				display: block;
			}
			button{
				width: 245px;
				height: 50px;
				font-size: 20px;
				text-transform: uppercase;
				margin-top: 25px;
			}
			.overlay{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 0;
				&.silver{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#655d59+0,7db9e8+100&1+0,0+100 */
					background: -moz-linear-gradient(45deg,  rgba(101,93,89,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(45deg,  rgba(101,93,89,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(45deg,  rgba(101,93,89,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#655d59', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
				&.gold{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb945b+0,7db9e8+100&1+0,0+100 */
					background: -moz-linear-gradient(45deg,  rgba(203,148,91,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(45deg,  rgba(203,148,91,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(45deg,  rgba(203,148,91,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb945b', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
				&.red{
					background-color: #de4e3a;
					opacity: 0.8;
				}
				&.grey{
					background-color: #aea8a4;
					opacity: 0.8;
				}
				&.black{
					background-color: #655d59;
					opacity: 0.8;
				}
				&.velvet{
					background-color: #e41319;
					opacity: 0.8;
				}
			}
		}
	}
	&.standard{
		padding-top: 110px;
		padding-bottom: 110px;
		position: relative;
		.content{
			background-color: #ffffff;
			padding-top: 50px;
			padding-bottom: 100px;
			padding-left: 100px;
			padding-right: 100px;
			position: relative;
			h1{
				color: #e41319;
				margin-bottom: 50px;
				font-size: 46px;
				.font-b();
			}
			a{
				color: #e41319;
			}
		}
	}
	&.ebook-content{
		padding-top: 70px;
		padding-bottom: 90px;
		.collumn{
			background: #FFF;
			padding: 25px 30px;
			figure{
				width: 100%;
				height: 445px;
			}
			p{
				margin-top: 20px;
			}
		}
		ul.thumb-gallery{
			list-style: none;
			text-align: center;
			padding: 0;
			margin: 0;
			margin-top: 30px;
			li{
				vertical-align: middle;
				display: inline-block;
				width: 80px;
				height: 80px;
				margin-right: 20px;
				cursor: pointer;
				.animation(0.2s);
				&:hover{
					opacity: 0.8;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	&.notfound{
		.content{
			padding-top: 130px;
			padding-bottom: 160px;
		}
		.abs-left{
			width: 524px;
			height: 339px;
			position: absolute;
			bottom: 0;
			left: 0;
			margin-left: -120px;
			margin-bottom: -120px;
		}
	}
	&.kontact{
		p{
			margin-bottom: 30px;
		}
		address{
			padding-top: 25px;
		}
		input,textarea{
			width: 100%;
			height: 38px;
			font-size: 14px;
			font-weight: 700;
			padding-left: 15px;
			margin-bottom: 15px;
			border: 1px solid #aea8a4;
			.placeholder-color(#aea8a4);
			&:focus{
				border-color: #e41319;
				.placeholder-color(#e41319);
			}
		}
		textarea{
			padding-top: 15px;
			height: 160px;
			margin-bottom: 0;
		}
	}
	&.promotion-banner{
		padding-top: 130px;
		height: 460px;
		a{
			color: #fff;
			.animation(0.2s);
			&:hover{
				color: #aea8a4;
			}
		}
		h1{
			color: #ffffff;
			font-size: 70px;
			.font-b();
		}
		p{
			color: #ffffff;
			max-width: 500px;
			line-height: 24px;
			font-size: 16px;
			margin: 15px 0;
		}
		&.article{
			padding-top: 160px;
			height: 310px;
		}
		&.subscribe{
			padding-top: 205px;
		}
		&.ebook{
			figure{
				margin-top: -85px;
			}
			button{
				width: auto;
				padding-left: 10px;
				padding-right: 20px;
				span{
					display: inline-block;
					vertical-align: text-bottom;
				}
				.fa{
					font-size: 30px;
					color: #fffdf9;
					margin-right: 10px;
				}
			}
			small{
				color: #aea8a4;
				font-size: 13px;
				text-align: center;
				line-height: 35px;
				display: block;
				width: 505px; 
			}
		}
		form{
			background: #FFF;
			padding: 25px;
			padding-bottom: 35px;
			padding-top: 10px;
			margin-top: -150px;
			position: relative;
			p{
				padding: 0;
				margin: 0;
				margin-top: 15px;
				margin-bottom: 15px;
				font-size: 16px;
				text-align: center;
				color: #655d59;
			}
			input,textarea{
				display: block;
				margin: 0 auto;
				width: 95%;
				height: 38px;
				font-size: 14px;
				font-weight: 700;
				padding-left: 15px;
				margin-bottom: 15px;
				border: 1px solid #aea8a4;
				.placeholder-color(#aea8a4);
				&:focus{
					border-color: #e41319;
					.placeholder-color(#e41319);
				}
			}
			button{
				margin: 0 auto;
				display: block;
			}
		}
	}
	&.default{
		padding-top: 70px;
	}
	&.article-text{
		margin-top: 50px;
		padding-bottom: 70px;
		.content{
			background-color: #ffffff;
			padding: 50px 95px;
			h2{
				.font-b();
				color: #e41319;
				font-size: 30px;
				padding: 0;
				margin: 0;
				margin-bottom: 30px;
				&.more{
					margin-top: 50px;
				}
			}
			.float-img{
				float: left;
				margin: 0 20px 20px 0;
			}
			ul.related{
				list-style: none;
				text-align: left;
				padding: 0;
				margin: 0;
				margin-top: 30px;
				li{
					vertical-align: middle;
					display: inline-block;
					width: 135px;
					height: 105px;
					margin-right: 20px;
					margin-bottom: 20px;
					cursor: pointer;
					position: relative;
					.animation(0.2s);
					&:hover{
						opacity: 0.8;
					}
					&:last-child{
						margin-right: 0;
					}
					img{
						opacity: 0;
						width: 100%;
						height: 100%;
						position: absolute;
					}
				}
			}
		}
	}
	&.articles-card{
		padding: 80px 0;
		.item{
			background-color: #ffffff;
			margin-bottom: 30px;
			figure{
				height: 235px;
				width: 100%;
			}
			.text{
				padding: 20px;
				h3{
					.font-b();
					color: #e41319;
					font-size: 29px;
					padding: 0;
					margin: 0;
					margin-top: 5px;
					margin-bottom: 10px;
				}
				a{
					color: #e41319;
					.animation(0.2s);
					&:hover,&:focus{
						text-decoration: none;
						color: #aea8a4;
					}
				}
			}
		}
	}
	&.timeline-wall{
		.articles{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				background-color: #ffffff;
				margin-bottom: 30px;
				figure{
					width: 106px;
					height: 139px;
					float: left;
					margin-left: 1px;
				}
				.text{
					width: 243px;
					padding: 5px;
					padding-left: 10px;
					float: right;
					h3{
						.font-b();
						color: #e41319;
						font-size: 29px;
						padding: 0;
						margin: 0;
						margin-top: 5px;
						margin-bottom: 10px;
					}
					a{
						color: #e41319;
					}
				}
			}
		}
		.social-wall{
			.wall{
				list-style: none;
				padding: 0;
				margin: 0;
				li:nth-of-type(odd){
					float: left;
				}
				li:nth-of-type(even){
					float: right;
				}
			}
			.post{
				width: 365px;
				margin-bottom: 25px;
				position: relative;
				background-color: #ffffff;
				padding: 20px 20px 20px 50px;
				.profile, .text{
					clear: both;
					width: 100%;
					display: block;
				}
				.profile{
					margin-left: -40px;
				}
				.text{
					padding-left: 10px;
					padding-top: 20px;
					p{
						margin-bottom: 20px;
					}
				}
				.avatar{
					width: 54px;
					height: 54px;
					margin-left: -20px;
					float: left;
				}
				.name{
					float: left;
					width: 205px;
					margin-left: 15px;
					h4{
						color: #655d59;
						font-size: 15px;
						font-weight: 700;
						padding: 5px 0;
						padding-top: 10px;
						margin: 0;
					}
					time{
						color: #cb945b;
						font-size: 13px;
						font-weight: 400;
					}
				}
				.network{
					width: 15px;
					height: 15px;
					position: absolute;
					right: 0;
					margin-right: 20px;
					.fa{
						color: #cb945b;
						font-size: 15px;
					}
				}
			}
		}
	}
}
footer{
	border-top: 4px solid #d1090e;
	background-color: #ffffff;
	margin-top: 50px;
	p{
		color: #655d59;
		font-size: 15px;
	}
	a{
		color: #e3111b;
		font-size: 14px;
		font-weight: 600;
		&:hover{
			color: #cb945b;
		}
	}
	address{
		color: #655d59;
		font-size: 15px;
		padding-top: 25px;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			line-height: 30px;
		}
	}
	&:before{
		content: '';
		width: 55px;
		height: 78px;
		display: block;
		margin: 0 auto;
		margin-top: -50px;
		margin-bottom: 50px;
		background: url(../images/logo.png) no-repeat center;
		background-size: contain;
	}
	.sub{
		margin-top: 70px;
		line-height: 40px;
		background-color: #e3111b;
		color: #f5ede1;
		text-align: center;
		font-size: 13px;
	}
}
.modal-dialog{
	width: 680px;
}
.modal-content{
	border-radius: 0;
	border: 1px solid #b5c085;
	.modal-header{
		border-bottom: 0px;
		padding-top: 25px;
		.close{
			margin-top: -10px;
			color: #b5c085;
			opacity: 1;
			font-weight: normal;
		}
	}
}
@media (max-width: 1024px){
	nav{
		ul{
			li{
				padding-right: 10px;
			}
		}
	}
	section{
		&.timeline-wall .social-wall .post{
			width: 290px;
			.name{
				max-width: 170px;
			}
		}
		&.ebook-content ul.thumb-gallery li{
			width: 65px;
			height: 65px;
			margin: 0 5px;
			&:last-child{
				margin: 0 5px;
			}
		}
		&.article-text .content ul.related li{
			width: 105px;
		}
		&.notfound{
			.abs-left{
				margin-bottom: -160px;
			}
		}
	}
}
@media (max-width: 992px){
	section{
		
	}
}
@media (max-width: 768px){
	.modal-dialog{
		width: auto;
	}
	nav{
		.logo{
			z-index: 3;
			position: absolute;
		}
		.menu{
			position: relative;
			z-index: 2;
			background: #FFF;
			display: none;
			margin-top: 10px;
			li{
				display: block;
				line-height: 20px;
				text-align: left;
				margin-bottom: 20px;
			}
		}
	}
	body{
		h2.title{
			font-size: 36px;
		}
	}
	section{
		&.notfound{
			margin-bottom: 150px;
			.abs-left{
				max-width: 100%;
				margin-bottom: -300px;
			}
		}
		&.standard{
			margin-left: 15px;
			margin-right: 15px;
			.content{
				padding: 30px 25px;
			}
		}
		&.home{
			padding-top: 60px;
			.no-left{
				padding-left: 15px;
			}
			.item{
				padding: 0 15px;
				button{
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-top: 50px;
				}
				h2{
					display: block;
					width: 100%;
					font-size: 44px;
					line-height: 40px;
				}
			}
		}
		&.kontact{
			button{
				margin-bottom: 50px;
			}
		}
		&.article-text{
			.content{
				padding: 30px 25px;
				ul.related{
					text-align: center;
				}
				ul.related li{
					width: 27%;
					margin-bottom: 5px;
					margin-right: 0;
					height: 70px;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		&.promotion-banner{
			padding-top: 70px;
			h1{
				font-size: 55px;
			}
			button{
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			form{
				margin-top: 0;
				margin-bottom: 50px;
			}
			&.article{
				padding-top: 100px;
			}
			&.ebook{
				small{
					width: 80%;
					line-height: 15px;
					margin: 0 auto;
					display: block;
					margin-top: 10px;
				}
				button{
					width: 100%;
					padding: 0 5px;
					span{
						font-size: 11px;
						vertical-align: middle;
					}
					.fa{
						font-size: 16px;
					}
				}
			}
		}
		&.ebook-content{
			ul.thumb-gallery{
				text-align: center;
				li{
					margin: 0 2px;
					width: 50px;
					height: 50px;
					&:last-child{
						margin: 0 2px;
					}
				}
			}
			.collumn{
				margin-bottom: 50px;
			}
		} 
		&.timeline-wall{
			.social-wall{
				.wall{
					li{
						&:nth-of-type(odd), &:nth-of-type(even){
							float: none;
						}
					}
					.post{
						width: 100%;
						.name{
							max-width: 170px;
						}
					}			
				}
			}
			.articles{
				padding-left: 0;
				margin-left: 0;
				li{
					clear: both;
					figure{
						width: 35%;
					}
					.text{
						width: 64%;
						h3{
							font-size: 24px;
						}
					}
				}
			}
			.col-md-4.no-padding{
				float: none;
				padding: 0 15px;
			}
		}
	}
	footer{
		.no-left{
			padding-left: 15px;
		}
		.no-left-mobile{
			padding-left: 0;
		}
	}
}
@media (min-width: 768px){
	.navbar-toggle{
		display: block;
	}
	nav{
		.logo{
			z-index: 3;
			position: absolute;
		}
		.menu{
			position: relative;
			z-index: 2;
			background: #FFF;
			display: none;
			margin-top: 10px;
			margin-left: -25px;
			margin-right: -25px;
			li{
				display: block;
				line-height: 20px;
				text-align: left;
				margin-bottom: 20px;
			}
		}
	}
	section{
		&.promotion-banner{
			form{
				margin-top: -150px;
				margin-bottom: 30px;
			}
		}
		&.ebook-content{
			.collumn{
				margin-bottom: 50px;
			}
		} 
		&.kontact{
			button{
				margin-bottom: 50px;
			}
		}
		&.timeline-wall{
			
			.articles{
				padding-left: 0;
				margin-left: 0;
				li{
					clear: both;
					figure{
						width: 35%;
					}
					.text{
						width: 64%;
						h3{
							font-size: 24px;
						}
					}
				}
			}
			.col-md-4.no-padding{
				float: none;
				padding: 0 15px;
			}
		}
	}
}
@media (max-width: 420px){
	section{
		&.articles-card{
			margin-top: 500px;
			padding-top: 40px;
		}
	}
}
@media (max-width: 375px){

}
@media (max-width: 320px){
	
}